<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">



  
  <!-- 에러페이지 등록  -->
  <error-page>
  	<error-code>404</error-code>
  	<location>/error/error404.jsp</location>
  </error-page>
  
  <!-- <error-page>
  	<error-code>500</error-code>
  	<location>/error/error500.jsp</location>
  </error-page> -->
  
  <error-page>
  <exception-type>java.lang.NullPointerException</exception-type>
  <location>/error/errorNullPointer.jsp</location>
  </error-page>
  
 <!--  <servlet>
  	<servlet-name>controlOne</servlet-name>
  	<servlet-class>com.mvc.control.ControlServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>controlOne</servlet-name>
  <url-pattern>*.do</url-pattern>
  </servlet-mapping> -->
  
 <!--  <servlet>
  <servlet-name>ControllerURI</servlet-name>
  <servlet-class>mvc.Controller</servlet-class>
  <init-param>
  	<param-name>propertyConfig</param-name>
  	<param-value>Command.properties</param-value>
  </init-param>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>ControllerURI</servlet-name>
  <url-pattern>*.do</url-pattern>
  </servlet-mapping> -->
  

  
  <servlet>
  <servlet-name>Controller</servlet-name>
  <servlet-class>com.board.controller.ControllerAction</servlet-class>
  <init-param>
  	<param-name>propertyConfig</param-name>
  	<param-value>CommandPro.properties</param-value>
  </init-param>
  </servlet>
  
  <servlet-mapping>
  <servlet-name>Controller</servlet-name>
  <url-pattern>*.bdo</url-pattern>
  </servlet-mapping>
  
</web-app>